    <div
      class="question question-set-spectrum"
      data-question-id="<%= id %>">

      <div class="image">
        <h3><%= question %></h3>
      </div>

      <div class="answers clearfix">

        <div class="left-label spectrum-label">
          <div>Introverted</div>
        </div>

        <% for (var i in answers) { %>
          <div class="answer clearfix">
            <div class="button-box">
              <button class="btn" value="<%= answers[i] %>"><%= answers[i] %></button>
            </div>
            <div class="spectrum-box">
              <div class="spectrum-score" data-score="<%= scoring[i] %>"></div>
            </div>
          </div>
        <% } %>

        <div class="right-label spectrum-label">
          <div>Extroverted</div>
        </div>

      </div>

    </div>